### Maven ###
target/

### Logs ###
*.log

### Mac OS ###
.DS_Store
Thumbs.db

### IntelliJ IDEA ###
.idea/
*.iml
out/
*.ipr
*.iws

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/