<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <appender name="CLOUD" class="com.google.cloud.spring.logging.LoggingAppender">
        <log>anamaya-oms-worker</log>
    </appender>

    <springProfile name="!local">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="CLOUD"/>
        </root>
    </springProfile>

    <springProfile name="local">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
</configuration>
